

body{
    background-color: black !important;
}
 .mainPage{
    text-decoration: none !important;
    color: white !important;
}

/* h6 a{
    text-decoration: none !important;
    color: rgb(34, 13, 223) !important;
} */
.text-danger a{
    text-decoration: none !important;
    color: rgb(245, 8, 8) !important;
}